# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/

# VSCode
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# Uploads & DB
uploads/
html_hoster/instance/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Others
*.sqlite3
*.db

# Ignore lock files
# uv.lock
